@using ComModels
@{
    ViewData["Title"] = "Arch Escaners -> Archivo salida wms";
    Layout = "_Layout";
}
<style>
    .div856Search {
        max-width: 80vw;        
    }
</style>
<div id="mainDiv">
    <div class="container">
        <div class="card-deck cardMain">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Arch Escaners -> Archivo salida WMS&nbsp;<img class="imgHeaderHelp" src="~/images/help.png" title="Convierte archivo de escaners a archivo de salida WMS" alt="Convierte archivo de escaners a archivo de salida WMS"></h4>
                </div>
                <div class="card-body">
                    <form id="formSearch" target="_blank" enctype="multipart/form-data" asp-controller="HomeExtern" asp-action="TransformEscanerToWmsIn">
                        <div class="container div856Search">
                            <div class="row">
                                <div class="col-4">
                                    <label for="cboClients">Cliente</label>
                                    <div id="divSpinCboClients" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <select class="form-control" id="cboClients" name="cboClients"></select>
                                </div>
                                <div class="col-2">
                                    <label for="cboLocation">Lugar</label>
                                    <div id="divSpinCboLocation" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <select class="form-control" id="cboLocation" name="cboLocation"></select>
                                </div>
                                <div class="col-sm">
                                    <label for="cboBodegas">Bodega</label>
                                    <select class="form-control" id="cboBodegas" name="cboBodegas"></select>
                                </div>
                                <div class="col-sm">
                                    <label for="cboRegimen">Regimen</label>
                                    <div id="divSpinCboRegimen" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <select class="form-control" id="cboRegimen" name="cboRegimen"></select>
                                </div>
                                <div class="col-sm">
                                    <label for="dtpPeriodo">Periodo</label>
                                    <input class="form-control datepicker" data-date-format="dd/mm/yyyy" id="dtpPeriodo" placeholder="dd/mm/yyyy" maxlength="10" autocorrect="off" autocapitalize="off" autocomplete="off" />
                                </div>
                                <div class="col-sm">
                                    <label for="cboTipo">Tipo</label>
                                    <select class="form-control" id="cboTipo" name="cboTipo">
                                        <option value="1">Salida a tienda</option>
                                        <option value="2">Traslado</option>
                                    </select>
                                </div>
                                <div class="col-sm">
                                    <label for="cboIgnoreEx">Ignorar no existentes</label>
                                    <select class="form-control" id="cboIgnoreEx" name="cboIgnoreEx">
                                        <option value="0">No</option>
                                        <option value="1">Si</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm custom-file divUpload" style="max-width: unset !important; margin-bottom: 10px;">
                                    <input type="file" class="custom-file-input" id="fUpload" name="fUpload">
                                    <label id="lblFile" class="custom-file-label" for="fUpload">Archivo de salida de escaners</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm custom-file divUpload" style="max-width: unset !important; margin-bottom: 10px;">
                                    <input type="file" class="custom-file-input" id="fUploadExcel" name="fUploadExcel">
                                    <label id="lblFileExcel" class="custom-file-label" for="fUploadExcel">Archivo de salida en Excel (barcodes en columna A)</label>
                                </div>
                            </div>
                            <div class="row margin5">
                                @*<div class="col-sm">
                                    <button class="btn btn-primary" type="submit" id="btnUpload">
                                        &nbsp;&nbsp;&nbsp;Cargar archivo&nbsp;&nbsp;&nbsp;
                                        <div id="divSpinUploadFile" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                </div>*@
                                <div class="col-sm">
                                    <button class="btn btn-primary" type="button" id="btnGenSalidaWms">
                                        &nbsp;&nbsp;&nbsp;Generar salida WMS&nbsp;&nbsp;&nbsp;
                                        <div id="divSpinGenSalidaWms" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tblReportes = null;
    var mainGrid = null;
    $(document).ready(function () {
        $('#dtpPeriodo').datepicker();
        $('.imgHeaderHelp').tooltip();
        fillComboboxPromise('#divSpinCboClients', '@this.Url.Action("getClients", "HomeExtern")', '#cboClients', 'clienteId', 'nombre', 1432);
        $('#cboBodegas').on('change', function (Event) {
            fillComboboxPromise('#divSpinCboRegimen', '@this.Url.Action("GetWmsRegimen", "HomeExtern")?BodegaId=' + $('#cboBodegas').val(), '#cboRegimen', 'idregimen', 'regimen1', 0).then();
        });
        $('#cboLocation').on('change', function (Event) {            
            fillComboboxPromise('#divSpinCboBodegas', '@this.Url.Action("GetWmsBodegas", "HomeExtern")?LocationId=' + $('#cboLocation').val(), '#cboBodegas', 'bodegaId', 'nomBodega', 0)
                .then(function () {
                    fillComboboxPromise('#divSpinCboRegimen', '@this.Url.Action("GetWmsRegimen", "HomeExtern")?BodegaId=' + $('#cboBodegas').val(), '#cboRegimen', 'idregimen', 'regimen1', 0).then();
                });
        });
        fillComboboxPromise('#divSpinCboLocation', '@this.Url.Action("GetWmsLocations", "HomeExtern")', '#cboLocation', 'locationid', 'dsclocation', 7)
            .then(function () {
                fillComboboxPromise('#divSpinCboBodegas', '@this.Url.Action("GetWmsBodegas", "HomeExtern")?LocationId=' + $('#cboLocation').val(), '#cboBodegas', 'bodegaId', 'nomBodega', 0)
            });
        $('#fUpload').on('change', function (event) {
            var fullPath = $('#fUpload').val();
            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                }
                $('#lblFile').text(filename);
            }
        });
        $('#fUploadExcel').on('change', function (event) {
            var fullPath = $('#fUploadExcel').val();
            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                }
                $('#lblFileExcel').text(filename);
            }
        });
        $('#btnGenSalidaWms').on('click', function () {
            if ($('#dtpPeriodo').val() == '') {
                menErrorEdi('El periodo es necesario', 'Error');
                return;
            }
            if ($('#cboBodegas').val() == '') {
                menErrorEdi('El valor de la bodega no puede estar vacio', 'Error');
                return;
            }
            if ($('#cboRegimen').val() == '') {
                menErrorEdi('El valor del regimen no puede estar vacio', 'Error');
                return;
            }
            var fileExtension = ['xml', 'XML'];
            var fileExtensionExcel = ['xls', 'xlsx', 'XLS', 'XLSX'];
            var filename = $('#fUpload').val();
            var filenameExcel = $('#fUploadExcel').val();
            if (filename.length == 0) {
                //menErrorEdi('Por favor seleccione un archivo', 'Error');
                //return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    menErrorEdi('Solo se permiten archivos .xml', 'Error');
                    return false;
                }
            }
            if (filenameExcel.length != 0) {
                var extension = filenameExcel.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtensionExcel) == -1) {
                    menErrorEdi('Solo se permiten archivos de Excel', 'Error');
                    return false;
                }
            }
            $('#btnGenSalidaWms').prop('disabled', true);
            $('#divSpinGenSalidaWms').show();
            var fdata = new FormData();
            var fileUpload = $("#fUpload").get(0);
            var fileUploadExcel = $("#fUploadExcel").get(0);
            var files = fileUpload.files;
            var filesExcel = fileUploadExcel.files;
            if (files.length != 0)
                fdata.append('1_' + files[0].name, files[0]);
            if (filesExcel.length != 0)
                fdata.append('2_' + filesExcel[0].name, filesExcel[0]);
            $.ajax({
                type: "POST",
                timeout: 600000,
                url: '@this.Url.Action("SetSalidaWmsFromEscaner", "HomeExtern")?dtpPeriodo=' + $('#dtpPeriodo').val() + '&cboBodegas=' + $('#cboBodegas').val() + '&cboRegimen=' + $('#cboRegimen').val() + '&cboLocation=' + $('#cboLocation').val() + '&cboTipo=' + $('#cboTipo').val() + '&ClienteId=' + $('#cboClients').val(),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#divSpinGenSalidaWms').hide();
                    console.log(response);
                    if (response.info.codError != null) {
                        if (response.info.codError != 0) {
                            menErrorEdi(response.info.mensaje, 'Error en el proceso');
                            return;
                        }
                    }
                    if (response.length == 0)
                        menErrorEdi('Error al subir el archivo', 'Error');
                    else {
                        if (response.info.codError == 0)
                            menErrorEdi('Archivo cargado', 'Información');
                    }
                },
                error: function (resp) {
                    $('#divSpinGenSalidaWms').hide();
                    if (resp.statusText != null)
                        menErrorEdi(resp.statusText, 'Error');
                    menErrorEdi(resp.info.mensaje);
                }
            });
        });
    });
</script>
