@{
    ViewData["Title"] = "Pedidos Payless";
    Layout = "_Layout";
}
@*<script>
    var arrayProductosOld = [];
    @if(ViewBag.ListOldDis != null)
    {
        <text>arrayProductosOld = </text> @Html.Raw(ViewBag.ListOldDis);
    }
</script>*@
<div id="mainDiv">
    <div class="container">
        <div class="card-deck cardMain">
            <div class="card box-shadow">
                <div class="card-header card-header-payless">
                    <h4 class="my-0 font-weight-normal">Pedidos Payless específicos</h4>
                </div>
                <div class="card-body">                    
                    <form id="formSearch">
                        <div class="container div856Search">
                            <div class="row">
                                <div class="col-sm">
                                    <span id="spanClientName2">
                                        <span id="divSpinClientName" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <label for="cboLocation">Lugar</label>
                                    <div id="divSpinCboLocation" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <select class="form-control" id="cboLocation" name="cboLocation"></select>
                                </div>
                                <div class="col-sm">
                                    <label for="cboBodegas">Bodega</label>
                                    <div id="divSpinCboBodegas" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <select class="form-control" id="cboBodegas" name="cboBodegas"></select>
                                </div>
                                <div class="col-sm">
                                    <label for="cboRegimen">Regimen</label>
                                    <div id="divSpinCboRegimen" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <select class="form-control" id="cboRegimen" name="cboRegimen"></select>
                                </div>
                                <div class="col-sm">
                                    <label for="TxtBarcode">Barcode</label>
                                    <input class="form-control" id="TxtBarcode" maxlength="10" autocorrect="off" autocapitalize="off" autocomplete="off">
                                </div>
                                <div class="col-sm">
                                    <label for="cboProducto">Lote</label>
                                    <div id="divSpincboProducto" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <select class="form-control" id="cboProducto" name="cboProducto"></select>
                                </div>
                                <div class="col-sm">
                                    <label for="cboTalla">Talla</label>
                                    <div id="divSpincboTalla" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <select class="form-control" id="cboTalla" name="cboTalla"></select>
                                </div>
                                <div class="col-sm">
                                    <label for="cboLote">Estilo</label>
                                    <div id="divSpincboLote" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <select class="form-control" id="cboLote" name="cboLote"></select>
                                </div>
                                <div class="col-sm">
                                    <label for="cboCategoria">Genero</label>
                                    <div id="divSpincboCategoria" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <select class="form-control" id="cboCategoria" name="cboCategoria"></select>
                                </div>
                            </div>
                            <div class="row margin5">
                                <div class="col-sm">
                                    <button id="btnFiltrar" class="btn btn-primary" type="button">
                                        &nbsp;&nbsp;&nbsp;Buscar&nbsp;&nbsp;&nbsp;
                                        <div id="divSpinFiltrar" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                    <button id="btnLimpiar" class="btn btn-primary" type="button">
                                        &nbsp;&nbsp;&nbsp;Limpiar&nbsp;&nbsp;&nbsp;
                                        <div id="divSpinLimpiar" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                    <button type="button" class="btn btn-primary" id="btnNewDis" data-togle="tooltip" data-html="true" title="Seleccione los productos a pedir y acá click acá para solicitarlos">Crear pedido</button>
                                    <button type="button" class="btn btn-primary" id="btnAddFiltered" data-togle="tooltip" data-html="true" title="Agregar todos los productos filtrados con disponibilidad al pedido">Agregar filtrado a pedido</button>
                                    @*<button type="button" class="btn btn-primary" id="btnExportDis" data-togle="tooltip" data-html="true" title="Exportar pedido en Excel">
                    Exportar pedido a Excel <img src="/images/excel.png" class="imgButton">
                    <div id="divSpinPrintAll" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>*@
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <br />
                    <div id="gridExcelConsolidado" style="min-height: 460px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_PopNewDis")

<script>
    var ModalPopPeticionDet = null;
    var domtblReportes = null;
    var domtblPeticionDet = null;
    var mainGrid = null;
    var HashId = '';
    var foo = function () {
    }
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }
    var getClientName = new Promise(function (resolve, reject) {
        $('#divSpinClientName').show();
        $.ajax({
            method: "GET",
            url: "@this.Url.Action("GetClientNow", "HomeExtern")",
            success: function (data) {
                if (data.info.codError != 0) {
                    menErrorEdi(data.info.mensaje, 'Error');
                    return;
                }
                $('#spanClientName2').html(data.data);
                $('#spanClientName3').html(data.data);
                $('#divSpinClientName').hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                menErrorEdi(xhr.status, 'Error throw in js');
                menErrorEdi(thrownError, 'Error throw in js');
            }
        });
    });
    function reDrawObjects() {
        $('#spanClientName').css('display', 'block');
        if (window.mobileAndTabletcheck()) {
            $('#btnNewDis').addClass('btn-block');
            $('#btnNewDis').css('margin-bottom', '16px');
            $('#btnNewDis').css('margin-top', '16px');
            $('#spanClientName').css('text-align', 'center');
            $('#btnExportDis').addClass('btn-block');
            $('#btnExportDis').css('margin-bottom', '16px');
        } else {
            $('#spanClientName').css('margin-bottom', '10px');
        }
    }
    function afterFillCombobox() { }
    function changeProdPedido(isValid, idR, txtCant) {
        if (!isValid) return isValid;
        if ($('#TxtProducto' + idR).attr('readonly') != undefined)
            return;
        setTimeout(function () {            
            if ($(txtCant).val() < 0) {
                menErrorEdi('Error, el valor es inválido', 'Error');
                $(txtCant).val('0')
                return;
            } else {                
                if ($(txtCant).val() > mainGrid.records.filter(O => O.id == idR)[0].disponible) {
                    menErrorEdi('Error, el valor es mayor al disponible', 'Error');
                    $(txtCant).val('0')
                    return;
                }
            }
            var contProd = 0;
            for (var j = 0; j < mainGrid.allRecords.length; j++) {
                if (mainGrid.allRecords[j].barcode == mainGrid.records.filter(O => O.id == idR)[0].barcode) {
                    mainGrid.allRecords[j].cantPedir = $(txtCant).val();
                    contProd++;
                }
            }
            if (contProd > 1) {
                menErrorEdi('Se han establecido ' + contProd + ' productos para el pedido con barcode = ' + mainGrid.records.filter(O => O.id == idR)[0].barcode, 'Información');
            }
            for (var j = 0; j < mainGrid.records.length; j++) {
                if (mainGrid.records[j].barcode == mainGrid.records.filter(O => O.id == idR)[0].barcode) {
                    mainGrid.records[j].cantPedir = $(txtCant).val();
                }
            }
            mainGrid.refresh();
        }, 366);
        return isValid;
    }
    function refreshGrid(auto) {
        w2ui.grid.autoLoad = auto;
        w2ui.grid.skip(0);
    }
    function crearGrid() {
        var config = {
            grid: {
                name: 'gridExcelConsolidado',
                selectType: 'cell',
                bResponsive: true,
                bMobile: window.mobileAndTabletcheck(),
                url: '@this.Url.Action("GetPaylessProdTallaLoteFil", "Grids")?TxtBarcode=' + $('#TxtBarcode').val() + '&CboProducto=' + $('#cboProducto').val() + '&CboTalla=' + $('#cboTalla').val() + '&CboLote=' + $('#cboLote').val() + '&CboCategoria=' + $('#cboCategoria').val() + '&CboBodega=' + $('#cboBodegas').val(),
                show: {
                    footer: true,
                    toolbar: false,
                    expandColumn: window.mobileAndTabletcheck()
                },
                searches: [
                    { field: "barcode", caption: "Cod. caja", type: 'text' },
                    //{ field: "producto", caption: "Lote", type: 'text' },
                    { field: "talla", caption: "Talla", type: 'text' },
                    //{ field: "lote", caption: "Estilo", type: 'text' },
                    { field: "categoria", caption: "Genero", type: 'text' },
                    { field: "departamento", caption: "departamento", type: 'text' },
                    { field: "existencia", caption: "Existencia", type: 'int' },
                    { field: "reservado", caption: "Reservado", type: 'int' },
                    { field: "disponible", caption: "Disponible", type: 'int' },
                    { field: "cp", caption: "cp", type: 'text' },
                    { field: "transporte", caption: "Transporte", type: 'text' }
                ],
                colShowResponsive: [
                    { field: 'barcode' },
                    { field: 'cantPedir' }
                ],
                columns: [
                    { field: "id", caption: "id", sortable: true, hidden: true },
                    { field: "barcode", caption: "Cod. caja", type: 'text', sortable: true },
                    { field: "producto", caption: "Lote", type: 'text', sortable: true },
                    { field: "talla", caption: "Talla", type: 'text', sortable: true },
                    { field: "lote", caption: "estilo", type: 'text', sortable: true },
                    { field: "categoria", caption: "Genero", type: 'text', sortable: true },
                    { field: "cp", caption: "cp", type: 'text', sortable: true },
                    {
                        field: "cantPedir", caption: "Cantidad a pedir", sortable: false, render: function (record) {
                            var cantPedir2 = record.cantPedir;
                            //if ((record.cp != '' && parseInt(record.cantPedir) == 0) && parseInt(record.disponible) > 0)
                            //    cantPedir2 = record.disponible;
                            var posDisable = '';
                            var isCp = '';
                            //if (record.cp != '') {
                            //    posDisable = 'readonly="readonly"';
                            //    isCp = 'backRed';
                            //}
                            return '<input id="TxtProducto' + record.id + '" name="TxtProducto' + record.id + '" type="textbox" maxlength="7" class="editor-active form-control ' + isCp + ' txtCantPedir w2ui-input" ' + posDisable + ' tabIndex="' + record.id + '" value="' + cantPedir2 + '" onkeypress="return changeProdPedido(isNumberKey(event), ' + "'" + record.id + "'" + ', this)">';                            
                        }
                    }                    
                ]
            }
        };
        mainGrid = $('#gridExcelConsolidado').w2grid(config.grid);
        arrayGrids['gridExcelConsolidado'] = mainGrid;
    }
    function verDetalle(barcode2, talla2) {
        barcode = barcode2;
        talla = talla2;
        $('#modalPopCargaProdPrioriDet').modal();
        detGrid.reload2("@this.Url.Action("GetPaylessProdPrioriDet", "Grids")?barcode=" + barcode + '&talla=' + talla);
    }
    function fillProductoTallaLote() {
        $('#divSpincboProducto').show();
        $('#divSpincboTalla').show();
        $('#divSpincboLote').show();
        $('#divSpincboCategoria').show();
        $('#divSpincboProducto').empty();
        $('#divSpincboTalla').empty();
        $('#divSpincboLote').empty();
        $('#divSpincboCategoria').empty();
        console.log(1);
        $.ajax({
            method: "GET",
            url: '@this.Url.Action("GetProductoTallaLoteCategoria", "HomeExtern")',
            success: function (data) {
                $('#divSpincboProducto').hide();
                $('#divSpincboTalla').hide();
                $('#divSpincboLote').hide();
                $('#divSpincboCategoria').hide();
                if (data.info.codError != 0) {
                    menErrorEdi(data.info.mensaje, 'Error');
                    return;
                }
                if (data.data != null) {
                    if (data.data.item1 != null) {
                        $('#cboProducto').empty();
                        $.each(data.data.item1, function (indexI, storeO) {
                            $('#cboProducto').append($('<option>', {
                                value: this,
                                text: this
                            }));
                        });
                        $('#cboProducto').append($('<option>', {
                            value: 0,
                            text: ''
                        }));
                        $('#cboProducto').val(0);
                    }
                    if (data.data.item2 != null) {
                        $('#cboTalla').empty();
                        $.each(data.data.item2, function (indexI, storeO) {
                            $('#cboTalla').append($('<option>', {
                                value: this,
                                text: this
                            }));
                        });
                        $('#cboTalla').append($('<option>', {
                            value: 0,
                            text: ''
                        }));
                        $('#cboTalla').val(0);
                    }
                    if (data.data.item3 != null) {
                        $('#cboLote').empty();
                        $.each(data.data.item3, function (indexI, storeO) {
                            $('#cboLote').append($('<option>', {
                                value: this,
                                text: this
                            }));
                        });
                        $('#cboLote').append($('<option>', {
                            value: 0,
                            text: ''
                        }));
                        $('#cboLote').val(0);
                    }
                    if (data.data.item4 != null) {
                        var contI = 0;
                        $('#cboCategoria').empty();
                        $.each(data.data.item4, function (indexI, storeO) {
                            $('#cboCategoria').append($('<option>', {
                                value: contI++,
                                text: this
                            }));
                        });
                        $('#cboCategoria').append($('<option>', {
                            value: -1,
                            text: ''
                        }));
                        $('#cboCategoria').val(-1);
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                menErrorEdi(xhr.status, 'Error throw in js');
                menErrorEdi(thrownError, 'Error throw in js');
            }
        });
    }
    $(document).ready(function () {
        $('.imgHeaderHelp').tooltip();
        getClientName.then();
        $('#cboBodegas').on('change', function (Event) {
            fillProductoTallaLote();
            fillComboboxPromise('#divSpinCboRegimen', '@this.Url.Action("GetWmsRegimen", "HomeExtern")?BodegaId=' + $('#cboBodegas').val(), '#cboRegimen', 'idregimen', 'regimen1', 0).then();
        });
        $('#cboLocation').on('change', function (Event) {            
            fillComboboxPromise('#divSpinCboBodegas', '@this.Url.Action("GetWmsBodegas", "HomeExtern")?LocationId=' + $('#cboLocation').val(), '#cboBodegas', 'bodegaId', 'nomBodega', 0)
                .then(function () {                    
                    fillComboboxPromise('#divSpinCboRegimen', '@this.Url.Action("GetWmsRegimen", "HomeExtern")?BodegaId=' + $('#cboBodegas').val(), '#cboRegimen', 'idregimen', 'regimen1', 0).then();
                });
        });
        fillComboboxPromise('#divSpinCboLocation', '@this.Url.Action("GetWmsLocations", "HomeExtern")', '#cboLocation', 'locationid', 'dsclocation', 7)
            .then(function () {
                fillComboboxPromise('#divSpinCboBodegas', '@this.Url.Action("GetWmsBodegas", "HomeExtern")?LocationId=' + $('#cboLocation').val(), '#cboBodegas', 'bodegaId', 'nomBodega', 0)
            });        
        reDrawObjects();        
        $('#btnNewDis').on('click', function (e) {
            $('#exampleModalLabel2').html('Crear pedido');
            ModalPopNewDis = $('#modalPopNewDis').modal();
            if (gridPedidoDet == null) {
                crearGridDet();
                $('#divSpinFiltrar').hide();
            }
            else {
                gridPedidoDet.clear();
                gridPedidoDet.records = mainGrid.allRecords.filter(O => O.cantPedir != 0);
                gridPedidoDet.refresh();
                $('#divSpinFiltrar').hide();
            }
        });
        $('#btnAddFiltered').on('click', function (e) {
            var arrayFut = mainGrid.filteredRecords.filter(O => O.disponible > 0);
            if (arrayFut != null) {
                if (arrayFut.length != 0) {
                    for (var i = 0; i < arrayFut.length; i++) {
                        for (var j = 0; j < mainGrid.allRecords.length; j++) {
                            if (mainGrid.allRecords[j].barcode == arrayFut[i].barcode) {
                                mainGrid.allRecords[j].cantPedir = 1;
                            }
                        }
                    }
                }
                mainGrid.refresh2();
                mainGrid.refresh();
                $('#divSpinFiltrar').hide();
            }
        });        
        $('#btnFiltrar').on("click", function (Event) {
            miAlive();            
            $('#divSpinFiltrar').show();            
            if (mainGrid == null)
                crearGrid();
            else {
                mainGrid.searchReset(true);
                mainGrid.allRecords = [];
                mainGrid.reload2('@this.Url.Action("GetPaylessProdTallaLoteFil", "Grids")?TxtBarcode=' + $('#TxtBarcode').val() + '&CboProducto=' + $('#cboProducto').val() + '&CboTalla=' + $('#cboTalla').val() + '&CboLote=' + $('#cboLote').val() + '&CboCategoria=' + $('#cboCategoria').val() + '&CboBodega=' + $('#cboBodegas').val());
            }
            $('#divSpinFiltrar').hide();
        });
        $('#btnLimpiar').on("click", function (Event) {
            $('#divSpinFiltrar').hide();
            $('#cboProducto').val(0);
            $('#cboTalla').val(0);
            $('#cboLote').val(0);
            $('#cboCategoria').val(-1);
            $('#TxtBarcode').val('');
            mainGrid.allRecords = [];
            //mainGrid.searchReset();
            mainGrid.clear();
            //mainGrid.reload2('@this.Url.Action("GetPaylessProdTallaLoteFil", "Grids")?TxtBarcode=' + $('#TxtBarcode').val() + '&CboProducto=' + $('#cboProducto').val() + '&CboTalla=' + $('#cboTalla').val() + '&CboLote=' + $('#cboLote').val() + '&CboCategoria=' + $('#cboCategoria').val());
        });
        if (window.mobileAndTabletcheck()) {
            $('.div856Search').css({ "max-width": "unset" });
            $('#cboPeriod').css({ "width": "100%" });
            $('.btn').css({ "margin-bottom": "10px" });
            $('.btn').addClass('btn-block');
            $("#tblReportes").hide();
        }
    });
</script>
