@using ComModels
@{
    ViewData["Title"] = "Crud grupos y accesos";
    Layout = "_Layout";
}
<div id="mainDiv">
    <div class="container">
        <div class="card-deck cardMain">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Crud grupos y accesos</h4>
                </div>
                <div class="card-body">
                    <div id="formSearch">
                        <div class="row">
                            <div class="col-sm">
                                <label for="cboGrupo">Grupo</label>
                                <select class="form-control" id="cboGroup"></select>
                            </div>
                            <div class="col-sm">
                                <label for="cboAccess">Acceso</label>
                                <select class="form-control" id="cboAccess"></select>
                            </div>
                        </div>
                        <div class="row marginTop10">
                            <div class="col-sm">
                                <button class="btn btn-primary" type="button" id="btnAdd">Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div id="gridGroupsAccesss" style="min-height: 460px; width: 100%;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var mainGrid = null;
    var foo = function () {
    };
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }
    function refreshGrid(auto) {
        w2ui.grid.autoLoad = auto;
        w2ui.grid.skip(0);
    }
    function getGroups() {
        $.ajax({
            url: '@this.Url.Action("GetGroups", "HomeExtern")',
            type: 'GET',
            dataType: 'JSON',
            success: function (json) {
                if (json.info.codError != 0) {
                    menErrorEdi(json.info.mensaje);
                    return '';
                }
                $.each(json.data, function (indexI, itemO) {
                    $('#cboGroup').append($('<option>', {
                        value: this.id,
                        text: this.descr,
                        selected: false
                    }));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                menErrorEdi(xhr.status, '');
                menErrorEdi(thrownError, '');
            }
        });
    }
    function getAccess() {
        $.ajax({
            url: '@this.Url.Action("GetAccess", "HomeExtern")',
            type: 'GET',
            dataType: 'JSON',
            success: function (json) {
                if (json.info.codError != 0) {
                    menErrorEdi(json.info.mensaje);
                    return '';
                }
                $.each(json.data, function (indexI, itemO) {
                    $('#cboAccess').append($('<option>', {
                        value: this.id,
                        text: this.descr,
                        selected: false
                    }));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                menErrorEdi(xhr.status, '');
                menErrorEdi(thrownError, '');
            }
        });
    }    
    function borrarGa(gaId) {
        makeAjaxPost('@this.Url.Action("GaDelete", "Account")?GaId=' + gaId, function (data) {
            if (data.info.codError != 0) {
                menErrorEdi(data.info.mensaje);
                return;
            } else {
                menErrorEdi(data.data, 'Información');
                mainGrid.clear();
                mainGrid.reload();
            }
        });
    }
    function crearGrid() {
        var config = {
            grid: {
                name: 'gridGroupsAccesss',
                selectType: 'cell',
                bResponsive: true,
                bMobile: window.mobileAndTabletcheck(),
                url: "@this.Url.Action("GetGroupsAccesss", "Account")",
                show: {
                    footer: true,
                    toolbar: true,
                    expandColumn: window.mobileAndTabletcheck()
                },
                searches: [
                    { field: 'group', caption: 'Grupo', type: 'text' },
                    { field: 'access', caption: 'Acceso', type: 'text' }                    
                ],
                colShowResponsive: [
                    { field: 'descr' }
                ],
                columns: [
                    { field: "id", caption: "Id", sortable: true, hidden: true },
                    { field: "idIenetAccess", caption: "IdIenetAccess", sortable: true, hidden: true},
                    { field: "idIenetGroup", caption: "IdIenetGroup", sortable: true, hidden: true },
                    { field: "group", caption: "Grupo", sortable: true },
                    { field: "access", caption: "Acceso", sortable: true },
                    {
                        field: "", caption: "", sortable: true, render: function (record) {
                            return '<a href="javascript:borrarGa(' + "'" + record.id + "'" + ')">Borrar</a>';
                        }
                    }
                ]
            }
        };
        mainGrid = $('#gridGroupsAccesss').w2grid(config.grid);
        arrayGrids['gridGroupsAccesss'] = mainGrid;
    }
    $(document).ready(function () {
        crearGrid();
        getGroups();
        getAccess();
        $('#btnAdd').on('click', function (event) {
            $.ajax({
                url: '@this.Url.Action("SetGroupAccess", "HomeExtern")?cboGroup=' + $('#cboGroup').val() + '&cboAccess=' + $('#cboAccess').val(),
                type: 'GET',
                dataType: 'JSON',
                success: function (json) {
                    if (json.info.codError != 0) {
                        menErrorEdi(json.info.mensaje);
                    }
                    menErrorEdi(json.data, 'Información');
                    mainGrid.clear();
                    mainGrid.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    menErrorEdi(xhr.status, '');
                    menErrorEdi(thrownError, '');
                }
            });
        });
    });
</script>