@using ComModels;
@using ComModels.Models.EdiDB;
@model Tuple<LearNte830, IEnumerable<EdiSegName>, IEnumerable<LearCodes>>
<div class="card box-shadow">
    <div class="card-header card-cnte cursor" data-toggle="collapse" data-target="#@Model.Item1.HashId" aria-expanded="false" aria-controls="@Model.Item1.HashId" title="@Model.Item2.Where(Sn => Sn.Segment == "NTE").Fod().DescEng">
        NTE - @Model.Item2.Where(Sn => Sn.Segment == "NTE").Fod().Eng
    </div>
    <div class="collapse" id="@Model.Item1.HashId">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            @Html.ShowLabel("Data.NTE.ReferenceCode", Model.Item3)
                            @Model.Item1.ReferenceCode
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            @Html.ShowLabel("Data.NTE.Message", Model.Item3)
                            @Model.Item1.Message
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>