@using ComModels;
@using ComModels.Models.EdiDB;
@model Tuple<LearN4830, IEnumerable<EdiSegName>, IEnumerable<LearCodes>>
<div class="card box-shadow">
    <div class="card-header card-cn4 cursor" data-toggle="collapse" data-target="#@Model.Item1.HashId" aria-expanded="false" aria-controls="@Model.Item1.HashId" title="@Model.Item2.Where(Sn => Sn.Segment == "N4").Fod().DescEng">
        N4 - @Model.Item2.Where(Sn => Sn.Segment == "N4").Fod().Eng
    </div>
    <div class="collapse" id="@Model.Item1.HashId">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            @Html.ShowLabel("Data.N4.CityName", Model.Item3)
                            @Model.Item1.CityName
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            @Html.ShowLabel("Data.N4.Province", Model.Item3)
                            @Model.Item1.Province
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            @Html.ShowLabel("Data.N4.PostalCode", Model.Item3)
                            @Model.Item1.PostalCode
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            @Html.ShowLabel("Data.N4.CountryCode", Model.Item3)
                            @Model.Item1.CountryCode
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            @Html.ShowLabel("Data.N4.LocationQualifier", Model.Item3)
                            @Html.CodeToStr("N4.LocationQualifier", Model.Item1.LocationQualifier, Model.Item3)
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            @Html.ShowLabel("Data.N4.LocationId", Model.Item3)
                            @Model.Item1.LocationId
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>