<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewData["Title"] - Extranet</title>
    <link rel="stylesheet" href="~/lib/bootstrap431/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/DataTables/Select-1.3.0/css/select.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/DataTables/Responsive-2.2.2/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/DataTables/Scroller-2.0.0/css/scroller.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap421/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/lib/datetimepicker/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/lib/DataTables/Buttons-1.5.6/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/w2ui/w2ui.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap431/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>
    <script src="~/lib/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/DataTables/Select-1.3.0/js/select.dataTables.js"></script>
    <script src="~/lib/DataTables/Scroller-2.0.0/js/dataTables.scroller.min.js"></script>
    <script src="~/lib/bootstrap421/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/lib/DataTables/Buttons-1.5.6/js/buttons.html5.min.js"></script>
    <script src="~/lib/w2ui/w2ui.js" asp-append-version="true"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/push.min.js"></script>
    <script src="~/js/jquery.tableToExcel.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--[if IE]>
          <style>
            .tblReportes thead {
                background: linear-gradient(to bottom, #c54062, #fbfcf2);
            }
          </style>
        <![endif]-->
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
        <a class="navbar-brand" asp-area="" asp-controller="HomeExtern" asp-action="Inventario"><img class="imgLogoExtern" src="~/images/onlyLogoMini.png" />&nbsp;&nbsp;GLC WEB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Operaciones
                    </a>
                    <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="Inventario">Realizar pedidos</a>
                        <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="CargaProdPrioriAdmin">Planilla de productos Admin</a>
                        <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="CargaProdPriori">Planilla de productos Admin consolidado</a>
                        <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="CargaProdArchBod">Carga de archivo de escaners de bodega</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reportes
                    </a>
                    <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="Peticiones">Ordenes pendientes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="Pedidos">Estado de pedidos</a>
                    </div>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="HomeExtern" asp-action="Exit">Salir</a>
                </li>*@
            </ul>
            <ul class="navbar-nav ">
                <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="imgProfile" src="~/images/profile.png" />&nbsp;
                        @(Context.Session.GetObjSession<string>("Session.CodUsr"))
                    </a>
                    <div class="dropdown-menu mr-auto" aria-labelledby="navDropDownLink">
                        @*<a class="dropdown-item" href="#">Preferences</a>
                        <div class="dropdown-divider"></div>*@
                        <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="Exit">Salir</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="divMainExtern">
        @RenderBody()
        <div class="fixed-bottom footer2">
            <hr />
            <p>&copy; 2019 - Intranet / Extranet - @Html.ShowVersion()</p>
        </div>
        <script>
            $(document).ready(function () {
                $('.card-header').tooltip();
            });
        </script>
    </div>
    @await Html.PartialAsync("_Popup")
    @RenderSection("Scripts", required: false)
</body>
</html>
